
#path, #counts {
	@include column($blueprint-grid-columns, true); 
	@include pull(2);
	text-align: right;
	font-size: 14px;
	margin-bottom: 20px;
}


.version, #lucene {
	@include column($blueprint-grid-columns, true); 
	@include horizontal-list;
	@include push(2);
	padding: 20px;
	float: right;
}

.version-number, .lucene-store-on-file, .lucene-path {
	@include blue-box;
	padding: 5px;
	font-size: 16px;
}

.neo4j-path {
	@include blue-box;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
}

.node-count {
	@include blue-box;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
  font-size: 30px;
	font-weight: bold;		
}

#nodes {
  @include column($blueprint-grid-columns, true); 
}
.node-row {
	@include column($blueprint-grid-columns, true); 
	@include push(1);
}
.node-box {
	@include column(4);
	@include blue-box;

	.node-entry {
		@include column(4);
	}
	
	.node-key {
		@include column(2);
		text-align: right;
	}
	
	.node-value {
		@include column(2);
		@include white-box;
		margin-bottom: 3px;
		margin-left: -2px;
		padding-left: 1px;;
	}
	
}

.last-box {
	@include column(4, true);
}

