
#path, #counts {
	@include column($blueprint-grid-columns, true); 
	@include pull(2);
	text-align: right;
	font-size: 28px;
}

.version, #lucene {
	@include column($blueprint-grid-columns, true); 
	@include horizontal-list;
	@include push(2);
}

.version-number, .lucene-store-on-file, .lucene-path {
	@include blue-box;
	padding: 5px;
	font-size: 16px;
}

.neo4j-path {
	@include blue-box;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;		
}

.node-count {
	@include blue-box;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
  font-size: 50px;
	font-weight: bold;		
}

#nodes {
  @include column($blueprint-grid-columns); 
}
.node-row {
	@include column($blueprint-grid-columns - 1); 
	@include push(1);
}
.node-box {
	@include column(4);
	@include blue-box;

	.node-entry {
		@include column(4);
		@include blue-box;
	}
	
	.node-key {
		@include column(2);
		@include blue-box;
		text-align: right;
	}
	
	.node-value {
		@include column(2, true);
		@include white-box;
		margin: -3px;
	}
	
}

.last-box {
	@include column(4, true);
}

