- title "Specify your interests"

- semantic_form_for @user, :url => profile_path do |f|
  - f.inputs do
    = f.input :location
  - f.inputs "Interests" do
    = f.input :cuisine
  - f.buttons do
    = f.commit_button "Save my interests"

#cuisine.interests
  - all_cuisines.each do |cuisine|
    %a{ :href => "#", :title => h(cuisine) }= h cuisine

:javascript
  Interests.init('cuisine')